services:
  db:
    image: postgres:${POSTGRES_VERSION:-18}
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/${POSTGRES_VERSION:-18}/docker
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$POSTGRES_USER\" -d \"$POSTGRES_NAME\" -h localhost || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  db_data: